<h1>Tweets#new</h1>
<p>Find me in app/views/tweets/new.html.erb</p>

<div class="row my-3 py-3 border-top">
  <%= form_for @tweet, html: {class: "col-12"} do |f| %>
  <p class="row px-3">
    <%= f.label :body,"ツイート", class: "col-10 col-md-2" %>
    <%= f.text_field :body, class: "col-10 col-md-auto" %>
  </p>
  <%= f.submit "ツイートする", class: "btn btn-success btn-sm" %>
  <% end %>
</div>
